header h1{
color: #006600;
text-align: center;
}
.tieude{
    background-color:#FECFFD ;
    color: #FF3399;
    text-align: center;
    border-radius: 10px;
}
.yeucau{
    color: #0000FF;
    text-decoration: underline;
    
}
h3{
    margin-left: 20px;
}

.noidung{
    background-color: #FFFFCC;
}
p{
    text-align: center;
    font-style: italic;
}
.doan1{
    color:#0000FF;
}
.doan2{
    color: brown;
}
.doan3{
    color: green;
}
.center-line{
    width: 40%;
    border: none;
    border-top: 1.5px solid black;
}
